/*5E80A0 - база
536678	
1F4468	
8FB0D0	
A0B8D0


5CA58B	
537C6D	
1E6B50	
8CD2B9	
9FD2C0*/

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Thin.ttf");
  font-weight: 200; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Bold.ttf");
  font-weight: 700; }

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

/* Авторизация */
body {
	background: url("img/back.png");
}

#auth {
	font-family: "Roboto", sans-serif !important;
	margin: 4% auto;
	padding: 15px 15px 53px 15px;
	border-radius: 3px;
	width: 300px;
	height: auto;
	background-color: #ffffff;
	/*border: 1px solid #111111;*/
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.deep_blu_1 {
	color: #5e80a0 !important;
}

.deep_blu_2 {
	color: #1F4468 !important;
}

/* Меню */

.ui.inverted.db1.menu {
  background-color: #5e80a0;
}

.ui.dropdown.mini {
  font-size: 0.8125rem;
}

.ui.table.mini {
  font-size: 0.8125rem;
}

.ui.table tr {
   cursor: pointer;
}

.ui.table tr:hover {
   background-color: #fffbe6;
}

.ui.form.small {
   font-size: 0.8125rem;
}



/* Таблица */

.l50 {
  width: 50px !important;
}

/* Главная */

#main {
	margin: 0 auto;
	padding: 10px 30px 10px 30px;
	border-radius: 3px; 
	max-width: 940px;
	height: auto;
	background-color: #ffffff;
}





/*--------------------
        Select
---------------------*/

.ui.select_box {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid rgba(39, 41, 43, 0.3);
    border-bottom: 1px solid rgba(39, 41, 43, 0.3);
    border-right: 1px solid rgba(39, 41, 43, 0.3);
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto","Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 1em;
    margin: 0;
    outline: medium none;
    padding: 0.4em 1em;
    text-align: left;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    width: 100%;
}

/* Отступы */
.point {
	cursor: pointer !important;
}

.point_blue {
  cursor: pointer !important;
}

.point_blue:hover {
  color: #5E80A0;
  cursor: pointer !important;
}


.m {
  margin: 8px !important; }

.mt {
  margin-top: 8px !important; }

.mr {
  margin-right: 8px !important; }

.mb {
  margin-bottom: 8px !important; }

.ml {
  margin-left: 8px !important; }

.mh {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.mv {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.m- {
  margin: 4px !important; }

.mt- {
  margin-top: 4px !important; }

.mr- {
  margin-right: 4px !important; }

.mb- {
  margin-bottom: 4px !important; }

.ml- {
  margin-left: 4px !important; }

.mh- {
  margin-right: 4px !important;
  margin-left: 4px !important; }

.mv- {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.m\+ {
  margin: 16px !important; }

.mt\+ {
  margin-top: 16px !important; }

.mr\+ {
  margin-right: 16px !important; }

.mb\+ {
  margin-bottom: 16px !important; }

.ml\+ {
  margin-left: 16px !important; }

.mh\+ {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.mv\+ {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.m\+\+ {
  margin: 24px !important; }

.mt\+\+ {
  margin-top: 24px !important; }

.mr\+\+ {
  margin-right: 24px !important; }

.mb\+\+ {
  margin-bottom: 24px !important; }

.ml\+\+ {
  margin-left: 24px !important; }

.mh\+\+ {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.mv\+\+ {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.m\+\+\+ {
  margin: 32px !important; }

.mt\+\+\+ {
  margin-top: 32px !important; }

.mr\+\+\+ {
  margin-right: 32px !important; }

.mb\+\+\+ {
  margin-bottom: 32px !important; }

.ml\+\+\+ {
  margin-left: 32px !important; }

.mh\+\+\+ {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.mv\+\+\+ {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.p {
  padding: 8px !important; }

.pt {
  padding-top: 8px !important; }

.pr {
  padding-right: 8px !important; }

.pb {
  padding-bottom: 8px !important; }

.pl {
  padding-left: 8px !important; }

.ph {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.pv {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.p- {
  padding: 4px !important; }

.pt- {
  padding-top: 4px !important; }

.pr- {
  padding-right: 4px !important; }

.pb- {
  padding-bottom: 4px !important; }

.pl- {
  padding-left: 4px !important; }

.ph- {
  padding-right: 4px !important;
  padding-left: 4px !important; }

.pv- {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.p\+ {
  padding: 16px !important; }

.pt\+ {
  padding-top: 16px !important; }

.pr\+ {
  padding-right: 16px !important; }

.pb\+ {
  padding-bottom: 16px !important; }

.pl\+ {
  padding-left: 16px !important; }

.ph\+ {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.pv\+ {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.p\+\+ {
  padding: 24px !important; }

.pt\+\+ {
  padding-top: 24px !important; }

.pr\+\+ {
  padding-right: 24px !important; }

.pb\+\+ {
  padding-bottom: 24px !important; }

.pl\+\+ {
  padding-left: 24px !important; }

.ph\+\+ {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.pv\+\+ {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.p\+\+\+ {
  padding: 32px !important; }

.pt\+\+\+ {
  padding-top: 32px !important; }

.pr\+\+\+ {
  padding-right: 32px !important; }

.pb\+\+\+ {
  padding-bottom: 32px !important; }

.pl\+\+\+ {
  padding-left: 32px !important; }

.ph\+\+\+ {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.pv\+\+\+ {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.float-right {
  float: right !important; }

.float-left {
  float: left  !important; }

.float-none {
  float: none  !important; }

.text-left {
  text-align: left   !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right  !important; }

/* Тени */

.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }