.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.chart.red .percent { color:#E64D5F; } 

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.prettycheckbox,
.prettyradio {
    display: inline-block;
    padding:0;
    margin:0;
}

.prettycheckbox a,
.prettyradio a{
    width: 18px;
    height: 18px;
    background: url('images/back-check-disabled.png') no-repeat center center;
    display: inline-block;
    cursor: pointer;
    margin:0;
	vertical-align:middle;
	margin-bottom:5px;
}

.prettyradio a { background: url('images/back-radio-disabled.png') no-repeat center center; }

.prettycheckbox.green a,
.prettyradio.green a{ }

.prettycheckbox.red a,
.prettyradio.red a{ }

.prettycheckbox.yellow a,
.prettyradio.yellow a{ }

.prettycheckbox.gray a,
.prettyradio.gray a{ }

.prettyradio a {}

.prettycheckbox a:focus,
.prettyradio a:focus {}

.prettycheckbox a:focus{}
.prettyradio a:focus{}

.prettycheckbox a.checked {  background: url('images/blue-checkbox.png') center center no-repeat; }
.prettyradio a.checked { background: url('images/blue-radiobox.png') center center no-repeat; }

.prettycheckbox a.checked:focus{  }
.prettyradio a.checked:focus {  }

.prettycheckbox label,
.prettyradio label {
 
}

.prettycheckbox.disabled a,
.prettyradio.disabled a,
.prettycheckbox.disabled label,
.prettyradio.disabled label{
  cursor:not-allowed;
}

.prettycheckbox.disabled a {
 
}

.prettyradio.disabled a {
 
}